* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

video, canvas {
  margin-left: 100px;
  margin-top: 10px;
  position: absolute;
}

canvas {
    z-index: 100;
}

.dg.ac {
  z-index: 100 !important;
  top: 10px !important;
}