* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body{
  background: url(https://www.hockeyloverz.nl/images/bg_pattern_3.png) #fff repeat top center;
}

h1,h2{
   font-family: 'Oswald', sans-serif !important;
   color:#e63a74;
}

p{
  color:#555555;
}

video, canvas {
  margin-top: 10px;
  position: absolute;
  transform: scaleX(-1);
}

canvas {
    z-index: 100;
}

.dg.ac {
  z-index: 100 !important;
  top: 10px !important;
}

#livefeed img{
  width: 100%;
}

.navbar-default{
  background-color:#e63a74;
}

.navbar-default .navbar-brand{
  color:#FFF;
  padding:0;
}

.navbar-default .navbar-nav > li > a {
  color:#FFF;
  font-family: 'Oswald', sans-serif;
  font-size:18px;
}

.navbar-default .navbar-nav > li.active > a {
  font-weight: bold;
}



.navbar-default .navbar-nav > li > a:hover {
  color:#f37ea6;
}